# Override some defaults so BT stack is enabled
# in this example

#
# BT config
#
CONFIG_BT_ENABLED=y

#
# ESP32-specific config
#
CONFIG_ESP32_ENABLE_STACK_BT=y
# CONFIG_ESP32_ENABLE_STACK_NONE is not set
CONFIG_MEMMAP_BT=y

#
# TFT Display Configuration
#
CONFIG_EXAMPLE_DISPLAY_TYPE=2
CONFIG_EXAMPLE_DISPLAY_TYPE2=y
